<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>

            <a aria-label="My Google Plus" title="Show my feed" target="_blank" href="https://plus.google.com/u/0/+{{site.gplus_username}}/posts">
                <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
            </a>

            <a aria-label="My Github" title="Show my projetcts" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="Use the RSS to get updated" title="Register for my RSS" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
        </div>

        <ul class="recent">
            <p>Recent posts:</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

        <ul class="recent">
            <p>Recent projects:</p>
             {% for project in site.projects limit:3%}
                <li>
                    <a title="Show my recent project" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

    </div>
    {% include menu-search.html %}
</header>
