// COLORS
main = #5d4d7a;
mainHover = rgba(135, 116, 169, 0.42);
hover = darken(main, 50%)
mainLight = #AB67AB
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = #615576
blackBase =  #2f2f33
neotree = #2f2f33
// Resolution
cut = 37.5rem